canvas {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

.container {
  height: 250px;
  width: 500px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.dissapper {
  animation-name: hide;
  animation-timing-function: cubic-bezier(0.15, 0.72, 0.39, 0.28);
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  will-change: transform, opacity;
}

@keyframes hide {
  from {
    opacity: 0.8;
   /* border-radius: 50%;*/
    transform: translate(0px, 0px) rotateY(-0deg);
  }
  25% {
    /*transform: translate(90px, -40px) rotateY(-90deg);*/
  }
  50% {
    opacity: 0.6;
    /* transform: translate(180px, -80px) rotateY(-180deg);*/
  }
  75% {
    /*transform: translate(270px, -120px) rotateY(-270deg);*/

    opacity: 0.4;
  }
  to {
    opacity: 0.1;
    transform: translate(270px, 0) rotateY(-640deg) ;
    /*transform: translate(270px, -120px) rotateY(-270deg);*/
  }
}
